body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  position: relative;
}
.navbar a {
  text-decoration: none;
  color: #000;
  margin: 0 1rem;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar-toggler {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  width: auto;
  position: static;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
.navbar-menu.show {
  display: flex;
}
.container {
  padding: 2rem;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.profile-info {
  margin-left: 2rem;
}
.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 4rem; /* Añadir margen inferior al contenedor de las cards */
}

.cards .card {
  flex: 1 1 calc(33.333% - 1rem); /* Ajusta el ancho de las cards */
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #fff;
  min-width: 250px;
  min-height: 200px; /* Ajusta la altura mínima según sea necesario */
  box-sizing: border-box;
}


.card {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #fff;
  min-width: 250px;
}
.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .navbar-menu.show {
    display: flex;
  }
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile-info {
    margin-left: 0;
    margin-top: 1rem;
  }
  .cards {
    flex-direction: column;
  }
  .cards .card {
    flex: 1 1 100%; /* Las cards ocupan todo el ancho en pantallas pequeñas */
    min-height: auto; /* Ajusta la altura mínima para pantallas pequeñas */
  }
}

/* Footer Styles */

.footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:1000;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}